
@media screen and (min-width: 320px) and (max-width: 1279px) {
    .content > div{
        width: 100%;
        height: auto;
    }
    .right-content .images .image{
        width: 155px;
        height: 150px;
        margin: 10px;
    }
    .right-content .images{
        width: 100%;
    }
    .all-results .boxes .box{
        width: 100%;
        height: 350px;
        display: block;
        margin: 10px 0px;
    }
}