.content > div{
    width: 50%;
    height: 540px;
}

.contain{
    max-width: 1536px;
    margin: 0px auto;
}
.right-content{}
.right-content .images{
    width: 74%;
}
.right-content .images .image{
    width: 230px;
    /* height: 225px; */
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
}
.right-content .images .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all-results{}
.all-results .boxes{
}
.all-results .boxes.show{
    height: auto;
}
.all-results .boxes.hide{
    height: 0px;
}
.all-results .boxes .box{
    width: 425px;
    height: 410px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    /* display: inline-block; */
    margin: 10px 10px;
}
.background{
    background-color: rgba(0, 0, 0, .3);
}
.all-results .boxes .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.row.one > div{
    width: 50%;
    height: fit-content;
    /* background-color: green; */
    /* padding: 10px; */
}
.row.two > div{
    width: 50%;
    height: fit-content;
    /* background-color: green; */
    /* padding: 10px; */
}