.content > div{
    width: 50%;
    height: 700px;
}
.contain{
    max-width: var(--div-max-width);
    margin: 0px auto;
}
.right-content{}
.right-content .image{
    width: 440px;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.right-content .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-form form{
    width: 80%;
}

.contact-form form > div{
    margin: 10px 0px;
}
.contact-form form > div input,
.contact-form form > div textarea,
.contact-form form > div button{
    width: 100%;
    background-color: #F4F4F4;
    border: 2px solid #F4F4F4;
    padding: 15px 15px;
    font-size: 14px;
    transition: .6s;
}
.contact-form form > div input:focus,
.contact-form form > div textarea:focus,
.contact-form form > div button:focus{
    outline: none;
}
.contact-form form > div input.invalid,
.contact-form form > div textarea.invalid{
    border-color: #f33;
}
.contact-form form > div input.invalid::placeholder,
.contact-form form > div textarea.invalid::placeholder{
    color: #f33;
}
.contact-form form > div input{
    border-radius: 4px;
}
.contact-form form > div textarea{
    border-radius: 4px;
    height: 157px;
    resize: none;
}
.contact-form form > div button{
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 4px;
}

.contact-form form > div button:disabled{
    opacity: .6;
}

.message{
    background-color: rgba(0, 0, 0, .6);
}

.message.show{
    animation: fadeIn ease-in-out .6s;
}
.message.hide{
    animation: fadeOut ease-out .6s;
}

/* @keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
} */