.content > div{
    width: 50%;
    height: 700px;
}
.right-content{}
.right-content .image{
    width: 440px;
    height: 100%;
    overflow: hidden;
}
.right-content .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain{
    max-width:  var(--div-max-width);
    margin: 0px auto;
}