<div class="contain w-[90%] mx-auto py-20">
    <div class="content flex flex-row">
        <div class="left-content flex flex-col justify-center bg-green-0 p-5">
            <div class="title-section mb-5">
                <h1 class="text-primary text-[25px]">Sobre Nós</h1>
            </div>
            <div class="main-title mb-10">
                <h1 class="text-secondary text-[45px] font-bold">Moderna, com profissionais qualificados e eficácia nos atendimentos.</h1>
            </div>
            <div class="text-paragraph mb-5">
                <p class="text-[18px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis orci, tortor, suspendisse nunc. Viverra neque mauris dictum
                    molestie vivamus feugiat. Est eu justo, nunc in amet. Quis est, ut diam, iaculis nec. Tincidunt nisl suspendisse in eros, amet. In
                    fermentum egestas adipiscing nunc.
                </p>
            </div>
            <div class="contact-panel">
                <app-contact-panel></app-contact-panel>
            </div>
        </div>
        <div class="right-content relative bg-green-0 flex justify-center">
            <div class="image relative">
                <img src="assets/images/about-us/image1.jpg" alt="">
            </div>
            <div class="absolute bottom-[20%] -translate-y-[20%]">
                <img src="assets/images/icons/smile-vector.svg" alt="">
            </div>
        </div>
    </div>
</div>