.content > div{
    width: 50%;
    height: 700px;
}
.right-content{}
.right-content .image{
    width: 440px;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.right-content .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}