
<div class="banner p-0 bg-green-0 relative w-full h-[500px]">
    <section class="w-full h-full bg-black opacity-50 z-[2] absolute left-0 top-0"></section>
    <img src="assets/images/banner/image1.jpg" class="absolute" alt="">
</div>



<div class="info absolute bg-yellow-00 bottom-10 left-0 flex z-[2] flex-col justify-start items-center">
    <div class="relative mt-0 w-[90%] mx-auto">
        <div class="content bg-green-40 w-full">
            <p class="text-white text-[38px] w-full font-semibold text-center">O <span class="text-primary">sorriso</span> é o seu cartão de visitas.</p>        
        </div>
        
        <div class="contact-panel bg-yellow-00 py-0 bottom-0 z-[2]">
            <app-contact-panel></app-contact-panel>
        </div>
    </div>
</div>