.content-all{
    position: relative;
    max-width: var(--div-max-width);
    margin: 0px auto;
    overflow: hidden;
}
div.slide img{
    /* filter: grayscale(100%); */
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.all-slide-images{
    position: relative;
    white-space: nowrap;
    /* max-height: 1000px; */
}
.all-slide-images > div{
    white-space: normal;
    display: inline-block;
    position: absolute;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}