div.slide img{
    filter: grayscale(100%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.background{
    /* max-width: 1536px;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%); */
}
.all-slide-images{
    position: relative;
    white-space: nowrap;
    /* max-height: 1000px; */
}
.all-slide-images > div{
    white-space: normal;
    display: inline-block;
    position: absolute;
}
/* .slide{
    max-width: 1536px;
    margin: 0px auto;
} */
.slide.past-one,
.slide.past-two,
.slide.past-three,
.slide.past-four
{
    left: -100%;
    transition: 1s ease-in-out;
}
.slide.present{
    left: 0%;
    transition: 1s ease-in-out;
}
.slide.future{
    left: 100%;
}