div.slide img{
    filter: grayscale(100%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.all-slide-images{
    position: relative;
    white-space: nowrap;
}
.all-slide-images > div{
    white-space: normal;
    display: inline-block;
    position: absolute;
}
.slide.past-one,
.slide.past-two,
.slide.past-three,
.slide.past-four
{
    left: -100%;
    transition: 1s ease-in-out;
}
.slide.present{
    left: 0%;
    transition: 1s ease-in-out;
}
.slide.future{
    left: 100%;
}