.content-all{
    position: relative;
    max-width: var(--div-max-width);
    margin: 0px auto;
    overflow: hidden;
}
div.slide img{
    /* filter: grayscale(100%); */
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.all-slide-images{
    position: relative;
    white-space: nowrap;
    /* max-height: 1000px; */
}
.all-slide-images > div{
    white-space: normal;
    display: inline-block;
    position: absolute;
}
.content ul{
    background-color: red;
    list-style: none;
}
.content ul li{
    position: absolute;
}
.info .content span{
    text-align: left;
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    text-indent: 100px;
}
.info .content li.active{
    opacity: 1;
    animation: fadeIn 1.7s ease-in-out;
    /* animation-direction: alternate-reverse; */
}
.info .content li.not-active{
    opacity: 0;
    animation: fadeOut 1.7s ease-in-out;
}
/* 
.info .content li.not-active-off{
    display: none;
} */

@keyframes fadeIn {
    0%{
        opacity: 0;
        display: none;
    }
    100%{
        opacity: 1;
        display: block;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
        display: block;
    }
    100%{
        opacity: 0;
        display: none;
    }
}