.content-all{
    position: relative;
    max-width: var(--div-max-width);
    margin: 0px auto;
    overflow: hidden;
}
div.slide img{
    /* filter: grayscale(100%); */
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.all-slide-images{
    position: relative;
    white-space: nowrap;
    /* max-height: 1000px; */
}
.all-slide-images > div{
    white-space: normal;
    display: inline-block;
    position: absolute;
}

.info .content p{
    text-align: left;
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    text-indent: 100px;
}

.info .content p.not-active{
    /* animation: fadeOut .9s ease-out; */
}

@keyframes fadeOut {
    from{
        opacity: 1;
        display: block;
    }
    to{
        opacity: 0;
        display: none;
    }
}