<div class="content-all">

  <div class="slide relative w-full h-full">
    <img src="assets/images/banner/banner.png" alt="">

    <div class="info w-[45%] absolute bg-yellow-00 py-0 top-[55%] -translate-y-[100%] left-[44%] -translate-x-[0%] z-[2] ml-30">
      <div class="content bg-green-0 flex flex-col" [innerHTML]="this.presentSentence">
          <!-- <p class="text-white text-[65px] font-bold text-left indent-[100px] animate-[fade]">O sorriso é o seu cartão de visitas.</p> -->
      </div>
    </div> 

  </div>
  
</div>