.content-all{
    position: relative;
    max-width: var(--div-max-width);
    margin: 0px auto;
    overflow: hidden;
}
div.slide img{
    /* filter: grayscale(100%); */
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.all-slide-images{
    position: relative;
    white-space: nowrap;
    /* max-height: 1000px; */
}
.all-slide-images > div{
    white-space: normal;
    display: inline-block;
    position: absolute;
}
.content ul{
    background-color: red;
    list-style: none;
}
.content ul li{
    position: absolute;
}
.info .content p:nth-last-child(1){
    text-indent: 55px;
}
.info .content span{
    text-align: left;
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    text-indent: 100px;
}
div.active{
    display: block;
}
div.not-active{
    display: none;
}
.trns-one{
    animation: slide-left 1.8s ease-in-out;
}

.trns-two{
    animation: slide-right 1.8s ease-in-out;
}

@keyframes slide-left {
    0%{
        /* opacity: 0; */
        margin-left: -70px;
    }
    100%{
        /* opacity: 1; */
        margin-left: 0px;
    }
}
@keyframes slide-right {
    0%{
        /* opacity: 0; */
        margin-left: 500px;
    }
    100%{
        /* opacity: 1; */
        margin-left: 0px;
    }
}