header{
    /* padding: 50px 15px; */
    position: absolute;
    /* background-color: orange; */
    width: 100%;
    z-index: 10;
    padding: 20px 10px;
    max-width: var(--div-max-width);
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}
header.is-mobile{
}
/* header.is-desktop{
    position: absolute;
    top: 50px;
} */
header.is-scrolling{
    /* background-color: #fff; */
    position: fixed;
    top: 0;
    background-color: #fff;
    transition: background-color .3s ease-in-out;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, .05);
}
header.is-scrolling-extend{
    position: fixed;
    top: 0;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, .05);
}
header div.back-bg{
    /* max-width: 300px; */
    transition: background-color, width .4s ease-in-out;
}
header.is-scrolling-extend div.back-bg{
    /* background-color: #fff; */
    width: 100vw;
    max-width: 1536px;
    border-radius: 0px;
    background-color: #fff;
    transition: background-color, width .4s ease-in-out;
}
header.is-scrolling ~ .banner{
    /* margin-top: 73px; */
}
header .menu.show{
    /* top: -50px; */
}
header.is-scrolling .menu.show{
    top: 0px;
}
header .contain{
    width: 90%;
    /* max-width: var(--div-max-width); */
    margin: 0px auto;
    /* margin-top: 50px; */
    /* background-color: red; */
}

header.is-scrolling-extend .menu ul li a, header.is-scrolling .menu ul li a{
    transition: color .3s ease-in-out;
    color: var(--secondary-color);
    font-weight: 500;
}

.menu{
    margin-right: 50px;
    transition: .8s;
}
.menu.hide{
    /* display: none; */
    top: -550px;
}
.menu.show{
    top: 0px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin: 10px 20px;
}
.menu ul li a{
    color: #fff;
    font-weight: 500;
}
.menu ul li a:hover{}


.fixed-social-media{
    top: 50%;
    transform: translateY(-50%);
    transition: .6s;
}
.fixed-social-media .box{
    /* border: 1px solid #fff; */
}
.fixed-social-media.shown{
    right: 0px;
}
.fixed-social-media.hide{
    right: -5%;
}
.fixed-social-media.arrow{
    /* background-color: red; */
}
.fixed-social-media .box .close img,
.fixed-social-media .box a{
    transition: .3s ease-in-out;
}
.fixed-social-media .box .close:hover img,
.fixed-social-media .box a:hover{
    transform: scale(.89);
}
.loading{
    background-color: rgba(0, 0, 0, .6);
}

.loading ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--primary-color);
}

.first-arc, .second-arc{
    /* background-color: yellow; */
    border: 2px solid var(--secondary-color);
    padding: 10px;
    /* transform: scale(4); */
    position: absolute;
    border-radius: 50%;
    animation: increase 2s infinite ease-in-out;
}
.first-arc{
}
.second-arc{
    animation-delay: 0.7s;
}

@keyframes increase {
    from{
        transform: scale(2);
    }
    to{
        transform: scale(4);
        opacity: 0;
    }
}

footer .background{
    opacity: .2;
    background-image: url('../assets/images/patterns/p.png');
}
footer .content > div{
    /* width: 430px; */
    height: 180px;
}
footer .content{
    /* height: max-content; */
    /* height: 150px; */
}
footer .contain{
    max-width: var(--div-max-width);
    margin: 0px auto;
}

.copyrights::after{
    content: '';
    position: absolute;
    width: 80%;
    background: linear-gradient(90deg, transparent, var(--primary-color) 50%, transparent);
    height: 3px;
    left: 50%;
    transform: translate(-50%);
    top: 0;
}