@media screen and (min-width: 320px) and (max-width: 1279px) {
    footer .content{
        /* height: max-content; */
        /* height: 150px; */
    }
    footer .content > div{
        width: 100%;
        height: 100px;
        /* background-color: aqua; */
    }
    .copyrights::after{
        content: '';
        display: none;
    }

    .menu{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50vh;
        background-color: #fff;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, .05);
    }
    .menu ul li{
        display: block;
        margin: 10px 20px;
    }
    .menu ul li a{
        color: var(--secondary-color);
        font-weight: 500;
    }
    .menu ul li a:hover{}
}