/* .banner{
    background: url('../assets/images/banner/image1.jpg') 0px 0px no-repeat;
    background-size: cover;
} */
.container{
    width: 90%;
    margin: 0px auto;
}
.banner > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0%);
}