header{
    /* padding: 50px 15px; */
    position: absolute;
    /* background-color: orange; */
    width: 100%;
    z-index: 10;
    padding: 20px 10px;
    top: 50px;
}
header.is-scrolling{
    /* background-color: #fff; */
    position: fixed;
    top: 0;
    background-color: #fff;
    transition: background-color .3s ease-in-out;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, .05);
}
header .contain{
    width: 90%;
    max-width: 1536px;
    margin: 0px auto;
    margin-top: 0px;
    /* background-color: red; */
}

header.is-scrolling .menu ul li a{
    transition: color .3s ease-in-out;
    color: var(--secondary-color);
    font-weight: 500;
}

.menu{
    margin-right: 50px;
    transition: .3s;
}
.menu.hide{
    /* display: none; */
    top: -550px;
}
.menu.show{
    top: 0px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin: 10px 20px;
}
.menu ul li a{
    color: #fff;
    font-weight: 500;
}
.menu ul li a:hover{}


.fixed-social-media{
    top: 50%;
    transform: translateY(-50%);
    transition: .6s;
}
.fixed-social-media .box{
    /* border: 1px solid #fff; */
}
.fixed-social-media.shown{
    right: 0px;
}
.fixed-social-media.hide{
    right: -5%;
}
.fixed-social-media.arrow{
    /* background-color: red; */
}

footer .background{
    opacity: .2;
    background-image: url('../assets/images/patterns/p.png');
}
footer .content > div{
    width: 380px;
    height: 180px;
}
footer .content{
    /* height: max-content; */
    /* height: 150px; */
}
footer .contain{
    max-width: 1536px;
    margin: 0px auto;
}

.copyrights::after{
    content: '';
    position: absolute;
    width: 80%;
    background: linear-gradient(90deg, transparent, var(--primary-color) 50%, transparent);
    height: 3px;
    left: 50%;
    transform: translate(-50%);
    top: 0;
}