.contain{
    max-width: var(--div-max-width);
    margin: 0px auto;
}
.all-results{}
.all-results .boxes{
}
.all-results .boxes.show{
    height: auto;
}
.all-results .boxes.hide{
    height: 0px;
}
.all-results .boxes .box{
    width: 425px;
    height: 410px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    /* display: inline-block; */
    margin: 10px 10px;
}
.background{
    background-color: rgba(0, 0, 0, .3);
}
.all-results .boxes .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}