.background{
    background-color: rgba(0, 0, 0, .5);
    transition: .2s ease-in-out;
}
.background .content p{
    /* font-size: 25px; */
    text-align: center;
}
.box .image{}
.box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box{
    width: 330px;
    height: 220px;
    overflow: hidden;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-right: 50px;
}
.box:hover .background{
    opacity: 0;
}
.selector-buttons div{
    padding: 0.25rem;
    margin: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.selector-buttons div.disabled{
    opacity: .4;
    cursor: auto;
}

::-webkit-scrollbar {
    /* width: 200px; */
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 4px;
}