<div class="contain w-[90%] mx-auto py-10">
    <div class="large-image mobile:h-[150px] desktop:h-[475px] rounded-[4px] relative overflow-hidden">
        <section class="background w-full h-full z-[2] absolute left-0 top-0 mobile:p-5 desktop:p-10">
            <div class="content flex bg-red-0 items-center h-full mobile:w-[100%] bg-green-00 desktop:w-[60%]">
                <h1 class="mobile:text-[18px] desktop:text-[45px] font-bold text-white">Temos as mais requisitadas especialidades</h1>
            </div>
        </section>
        <img src="assets/images/specialities/image1.png" class="w-full h-full object-cover" alt="">
    </div>

    <div class="spec-slide boxes bg-green-00 pt-5 mt-10 mb-3 overflow-x-auto" #specSlide>
        <div class="images-container w-fit flex gap-4 bg-green-00">
            <div class="box first" #first>
                <div class="image">
                    <img src="assets/images/specialities/implantes.png" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Implantes Dentários</p>
                    </div>
                </section>
            </div>
            <div class="box mx-[0px]" #second>   
                <div class="image">
                    <img src="assets/images/specialities/ortodentia.png" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Ortodontia</p>
                    </div>
                </section>
            </div>
            <div class="box mr-[0px]" #third>
                <div class="image">
                    <img src="assets/images/specialities/protese.png" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Prótese Dentária</p>
                    </div>
                </section>
            </div>
            <div class="box" #fourth>
                <div class="image">
                    <img src="assets/images/specialities/estetica_e_reabilitacao.png" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Estética e <br> Reabilitação Oral</p>
                    </div>
                </section>
            </div>

            <div class="box" #fifth>
                <div class="image">
                    <img src="assets/images/specialities/dentisteria.jpg" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Dentisteria</p>
                    </div>
                </section>
            </div>

            <div class="box" #sixth>
                <div class="image">
                    <img src="assets/images/specialities/periodontologia.jpg" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Periodontologia</p>
                    </div>
                </section>
            </div>

            <div class="box" #seventh>
                <div class="image">
                    <img src="assets/images/specialities/endodontia.jpg" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Endodontia</p>
                    </div>
                </section>
            </div>

            <div class="box" #eigth>
                <div class="image">
                    <img src="assets/images/specialities/oclusao.jpg" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Oclusão</p>
                    </div>
                </section>
            </div>

            <div class="box" #nineth>
                <div class="image">
                    <img src="assets/images/specialities/harmonizacao_facial.jpg" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Harmonização Facial</p>
                    </div>
                </section>
            </div>

            <div class="box" #tenth>
                <div class="image">
                    <img src="assets/images/specialities/cirurgia-oral.jpg" alt="">
                </div>
                <section class="background w-full h-full z-[2] absolute left-0 top-0 p-10">
                    <div class="content flex bg-red-0 justify-center items-center h-full w-full">
                        <p class="text-white">Cirurgia Oral</p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="selector-buttons py-5 bg-fuchsia-00 flex items-center justify-center mobile:hidden desktop:flex">
        <div class="prev bg-secondary rounded-[4px] p-1" (click)="prevClick()" [ngClass]="{'disabled': !this.isPrevClickable}">
            <img src="assets/images/icons/prev.svg" alt="">
        </div>
        <div class="next bg-secondary rounded-[4px] p-1" (click)="nextClick()" [ngClass]="{'disabled': !this.isNextClickable}">
            <img src="assets/images/icons/next.svg" alt="">
        </div>
    </div>

    <div class="slider-bar bg-yellow-00 w-full mobile:flex desktop:hidden justify-center items-center">
        <div class="mother-bar relative w-[150px] h-[5px] rounded-[4px] overflow-hidden">
            <div class="child-bar absolute top-0 left-0 bg-secondary h-full rounded-[4px]" [ngStyle]="{'width': this.childSlide}"></div>
        </div>
    </div>

</div>