*{
    scroll-behavior: smooth;
}
.contain{
    max-width: var(--div-max-width);
    margin: 0px auto;
}
.background{
    background-color: rgba(0, 0, 0, .5);
    transition: .2s ease-in-out;
}
.background .content p{
    /* font-size: 25px; */
    text-align: center;
}
.box .image{}
.box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .images-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.box{
    width: 338px;
    height: 215px;
    overflow: hidden;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    /* margin-right: 50px; */
}
.box:hover .background{
    opacity: 0;
}
.selector-buttons div{
    padding: 0.25rem;
    margin: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.selector-buttons div.disabled{
    opacity: .4;
    cursor: auto;
}
.mother-bar{
    background-color: #F4F4F4;;
}
.child-bar{
    transition: all .3s ease-in-out;
}

::-webkit-scrollbar {
    /* width: 200px; */
    height: 5px;
    display: none;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    border-radius: 4px;
    /* display: none; */
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 4px;
    /* display: none; */
}