<div class="contain w-[90%] relative bg-orange-00 mx-auto bg-orange-0 desktop:px-5 desktop:py-10 overflow-x-auto">

    <div class="mother-box relative bg-orange-00 flex mobile:justify-start mobile:w-[1000px] mobile:gap-x-3 desktop:gap-x-0 desktop:w-full desktop:justify-between">

      <div class="box flex bg-green-0 mobile:w-[355px] desktop:w-[400px]">
        <div class="icon bg-orange-0 mobile:w-[50px] desktop:w-[15%] bg-fuchsia-0">
          <img src="assets/images/icons/store-icon.svg" alt="">
        </div>
        <div class="description bg-orange-0 w-[90%] bg-fuchsia-0">
          <div class="title">
            <h1 class="text-[25px] font-bold text-secondary">Acolhimento</h1>
          </div>
          <div class="mobile:text-[13px] desktop:text-[15px] mt-3">
            <p>Ouvir e tratar de forma humanizada, com empatia, respeito e transparência.</p>
          </div>
        </div>
      </div>
  
      <div class="box flex bg-green-0 mobile:mx-0 desktop:mx-auto mobile:w-[365px] desktop:w-[400px]">
          <div class="icon bg-orange-0 mobile:w-[50px] w-[15%] bg-fuchsia-0">
            <img src="assets/images/icons/heart-icon.svg" alt="">
          </div>
          <div class="description bg-orange-0 w-[90%] bg-fuchsia-0">
            <div class="title">
              <h1 class="text-[25px] font-bold text-secondary">Responsabilidades</h1>
            </div>
            <div class="mobile:text-[13px] desktop:text-[15px] mt-3">
              <p>Primar pela ética e qualidade técnica-científica.</p>
            </div>
          </div>
      </div>
  
      <div class="box flex bg-green-0 mobile:w-[365px] desktop:w-[400px]">
          <div class="icon bg-orange-0 mobile:w-[50px] w-[15%] bg-fuchsia-0">
            <img src="assets/images/icons/gift-box-icon.svg" alt="">
          </div>
          <div class="description bg-orange-0 w-[90%] bg-fuchsia-0">
            <div class="title">
              <h1 class="text-[25px] font-bold text-secondary">Compromisso</h1>
            </div>
            <div class="mobile:text-[13px] desktop:text-[15px] mt-3">
              <p>Cuidar e promover a saúde física, psicoemocional e bem-estar.</p>
            </div>
          </div>
      </div>

    </div>

  </div>