@media screen and (min-width: 320px) and (max-width: 1279px) {
    .contain{
        box-shadow: 0px 20px 40px rgba(0, 0, 0, .05);
    }
}

/* @media screen and (min-width: 1024px) {
    .contain{
        box-shadow: none;
    }
} */