<div class="contain w-[90%] bg-orange-0 mx-auto bg-orange-0 flex justify-between">

    <div class="box flex bg-green-0 gap-5">
      <div class="icon bg-orange-0 w-[15%] bg-fuchsia-0">
        <img src="assets/images/icons/store-icon.svg" alt="">
      </div>
      <div class="description bg-orange-0 w-[90%] bg-fuchsia-0">
        <div class="title">
          <h1 class="text-[25px] font-bold text-secondary">Acolhimento</h1>
        </div>
        <div class="text-[15px] my-3">
          <p>Ouvir e tratar de forma humanizada, com empatia, respeito e transparência.</p>
        </div>
      </div>
    </div>

    <div class="box flex bg-green-0 gap-5">
        <div class="icon bg-orange-0 w-[15%] bg-fuchsia-0">
          <img src="assets/images/icons/heart-icon.svg" alt="">
        </div>
        <div class="description bg-orange-0 w-[90%] bg-fuchsia-0">
          <div class="title">
            <h1 class="text-[25px] font-bold text-secondary">Responsabilidades</h1>
          </div>
          <div class="text-[15px] my-3">
            <p>Primar pela ética e qualidade técnica-científica.</p>
          </div>
        </div>
    </div>

    <div class="box flex bg-green-0 gap-5">
        <div class="icon bg-orange-0 w-[15%] bg-fuchsia-0">
          <img src="assets/images/icons/gift-box-icon.svg" alt="">
        </div>
        <div class="description bg-orange-0 w-[90%] bg-fuchsia-0">
          <div class="title">
            <h1 class="text-[25px] font-bold text-secondary">Compromisso</h1>
          </div>
          <div class="text-[15px] my-3">
            <p>Cuidar e promover a saúde física, psicoemocional e bem-estar.</p>
          </div>
        </div>
    </div>

  </div>