@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root{
    --primary-color: #F9A719;
    --secondary-color: #397D7E;
    --mini-boxes-width-height-value: 247px;
}
body{
    overflow-x: hidden;
}